@font-face {
  font-family: Amita;
  src:url(../fonts/Amita/Amita-Regular.ttf);
}
@font-face {
  font-family: AmitaBold;
  src:url(../fonts/Amita/Amita-Bold.ttf);
}

@font-face {
  font-family: lato;
  src:url(../fonts/Lato-Regular.ttf);
}
@font-face {
font-family: latoBold;
src:url(../fonts/Lato-Bold.ttf);
}
@font-face {
font-family: latoBlack;
src:url(../fonts/Lato-Black.ttf);
}
@font-face {
font-family: chalk;
src:url(../fonts/cf-blackboard-font/CfBlackboardPersonalRegular-AKPg.ttf);
}
.condash{
  margin-top: 100px;
}
.condash .row a{
  font-family: latobold;
  font-size: 20px;
  padding: 15px 25px;
  background: #00b100;
  border: none;
  color: #ffffff;
  transition: 0.3s;
  border-radius: 10px;
  text-decoration: none;
}
.condash .row a:hover{
  background: #007600;
}
.condash .btn-warning {
padding: 10px 20px;
font-family: latobold;
text-decoration: none;
font-size: 18px;
border-radius: 10px;
}
.condash .btn-warning i{
padding-right: 10px;
}